@media(min-width: 400px) {
  .name-icon {
    font-size: 21px;
  }

  .material-icons {
    font-size: 37px;
  }

  .footer {
    padding: 10px 0;
  }
  tr{
    height: 60px;
  }

  td {
    width: 55px;
    height: 47px;
  }

  .dayHeader, .week_red {
    width: 55px;
    font-size: 20px;

  }
  #table{
    gap: 18px;
  }
}